.create-route-component {
    display: flex;
    flex-direction: row;
}

.route-side-bar {
    height: calc(100vh - 92px);
    width: 340px;
    background-color: white;
    border-right: 2px solid #777777;
    border-top: 1px solid #777777;
    position: relative;
    top: 37px;
}

.map {
    height: calc(100vh - 91px);
    width: calc(168.6vh - 2px);
    position: relative;
    top: 37px;
    z-index: 1;
    background-color: aquamarine;
}

.route-side-bar-image {
    height: calc(100vh - 83px);
    width: 340px;

}

.route-map-image {
    height: calc(100vh - 70px);
    width: calc(168.6vh);
}

.map:hover {
    cursor: crosshair;
}

.route-map-whole {
    display: flex;
    flex-direction: row;
}