.nav-bar {
    display: flex;
    justify-content: center;
    position: relative;
    top: 17px;
}

.nav-icons {
    position: relative;
    top: 12px;
    color: #6e6e6e;
}

.nav-bar-item {
    font-size: 12.25px;
    margin-right: 24px;
    position: relative;
    top: 14px;
    left: 5px;
    font-family: Armour,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.logo {
    margin-right: 90px;
    font-size: 20px;
    position: relative;
    top: 6px;
    right: 50px;
}

.tiny-pro-pic {
    position: relative;
    left: 36px;
    top: 2px;
}

.profile-drop-down {
    position: relative;
    display: inline-block;

}

.dropbtn {
    color: white;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-1 {
    position: relative;
    display: inline-block;
    bottom: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -52px;
    top: 36px;
    background-color: white;
    min-width: 92px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    z-index: 5;
    font-weight: 400;
}

.dropdown-content-1 {
    display: none;
    position: absolute;
    top: 51px;
    background-color: white;
    min-width: 80px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    z-index: 5;
    font-weight: 400;
}

.nav-routes {
    padding-bottom: 24px;
}

.dropdown-content a {
    color: #8991a0;
    border: 1px solid lightgrey;
    padding: 12px 45px;
    text-decoration: none;
    display: flex;
    align-self: flex-start;
    width: 30px;
}

.dropdown-content-1 a {
    color: #8991a0;
    border: 1px solid lightgrey;
    padding: 12px 45px;
    text-decoration: none;
    display: flex;
    align-content: center;
    width: 80px;
}

.dropdown-box:hover {
    color: #515355;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-1:hover .dropdown-content-1 {
    display: flex;
    flex-direction: column;
    
}

.dropdown-box-1:hover {
    color: #515355;
}
  
.nav-bar-item {
    color: #9ba4b6;
}

.nav-bar-item:hover {
    color: rgb(104, 104, 104);
    cursor: pointer;
}