.nav-bar {
    display: flex;
    justify-content: center;
    position: relative;
    top: 17px;
}

.nav-bar-item {
    font-size: 12.25px;
    margin-right: 24px;
    position: relative;
    top: 8px;
    right: 25px;
    font-family: Armour,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.logo {
    margin-right: 90px;
    font-size: 20px;
    position: relative;
    top: 3px;
    right: 10px;
}