.nav-jr {
    display: flex;
    justify-content: center;
    background-color:#f0f2f4;
    position: relative;
    bottom: 413px;
    height: 100px;
}

/* .nav-jr-button {
    border-top: 2px solid #d3d6dc;
    border-bottom: 2px solid #9297a3;
    background-color: #f0f2f4;
    
    cursor:pointer;
} */

.btn {
    border: 1px solid #d3d6dc;
    border-bottom: 2px solid #6d717a;
    color: #6d717a;
    padding: 14px 28px;
    font-size: 14px;
    height: 42px;
    width: 236px;
    cursor: pointer;
}

.nav-jr-button:hover {
    background-color: blue;
    color:rgb(156, 156, 156);
}