.profile {
    display: flex; 
    justify-content: center;
    position: relative;
    top: 100px;
}

.profile-display {
    border: 1px solid black;
    position: relative;
    height: 132px;
    width: 298px;
    top: 198px;
    left: 475px;
    background-color: #f8f8f8;
}

.profile-name {
    position: relative;
    top: -94px;
    left: 108px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgb(68,68,68);
    font-size: 14px;
}

.profile-signout-button {
    position: relative;
    top: -50px;
    left: 130px;
}

.hidey-box {
    height: 40px;
    width: 240px;
    z-index: 1;
    background-color: white;
    position: relative;
    top: -120px;
    left: 820px;
}

.tiny-pro-pic {
    position: relative;
    top: -114px;
    left: 781px;
    z-index: 2;
}

.profile-drop-down {
    position: relative;
    display: inline-block;

}

.dropbtn {
    color: white;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}