.session-form {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243,243,243);
    height: 800px;
    position: relative;
    top: 90px;
}

.input-box-session {
    height: 35px;
    width: 320px;

    border: 2px solid lightgrey;
    background-color: rgb(243,243,243);
}

.session-demo-button {
    background-color: #3b5998;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    left: 3px;
    color: white;
    height: 45px;
    width: 320px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.session-demo-button:hover {
    background-color: #2e4475;
    cursor: pointer;
}

.or-separator {
    color: rgb(161, 161, 161);
    font-size: 14px;
}

.or-hr-1 {
    display: block;
    width: 120px;
    color: rgb(161, 161, 161);
    background-color: rgb(161, 161, 161);
    position: relative;
    top: 16px;
    right: 100px;
}

.or-hr-2 {
    display: block;
    width: 120px;
    color: rgb(161, 161, 161);
    background-color: rgb(161, 161, 161);
    position: relative;
    bottom: 16px;
    left: 100px;
}

.dob {
    position: relative;
    height: 40px;
    width: 324px;
    right: 1px;
    font-size: 20px;
    background-color: rgb(243, 243, 243);
    border: 2px solid lightgrey;
    color: rgb(172, 172, 172);
}

input[type=radio] {
    height: 40px;
    width: 153px;
    border: 2px solid lightgrey;
    padding: 0.5em;
    -webkit-appearance: none;
  }
  
  input[type=radio]:checked {
    /* background-color: aliceblue; */
    background-size: 9px 9px;
    border: 3px solid blue;
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  }

.radio-label {
    position: relative;
    right: 6px;
    bottom: 10px;
}

.male {
    margin-right: 15px;
}

.male-label {
    position: relative;
    top: 40px;
    left: 10px;
    color: rgb(172,172,172);
}

.female-label {
    position: relative;
    top: 23px;
    left: 190px;
    color: rgb(172,172,172);
}
