.signup-page-login-button {
    border: none;
    color: rgb(144, 144, 144);
    font-weight: bold;
    position: relative;

    left: 130px;
}

.signup-page-login-button:hover {
    cursor: pointer;
    color: rgb(116, 116, 116);
}