.signup-page-login-button {
    border: none;
    color: rgb(144, 144, 144);
    font-weight: bold;
    position: relative;
    bottom: 10px;
    left: 270px;
}

.signup-page-login-button:hover {
    cursor: pointer;
    color: rgb(116, 116, 116);
}
/* 
.input-box-session:active {
    border: 3px solid blue;
} */