.front-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ashyo-fp {
    display: flex;
    justify-content: center;
    position:relative;
    left: 250px;
    top: 88px;
}

.signup-button-splash {
    background-color: #16d374;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 65px;
    right: 390px;
    color: white;
    height: 44px;
    width: 290px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.signup-button-splash:hover {
    cursor: pointer;
}

.ash-yo-info {
    position: relative;
    top: 50px;
}

.own-every-step {
    font-weight: 900;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 64px;
    right: 575px;
    color: white;
}

.line-1, .line-2 {
    font-family: 'Teko', sans-serif;   
    font-size: 60px;
    position: relative;
    color: white;
    bottom: 30px;
    right: 202px;
}

.line-1 {
    position: relative;
    bottom: 75px;
}

.line-2 {
    position: relative;
    top: -5px;
}

.splash-text-1 {
    font-family: Arial, Helvetica, sans-serif;   
    position: relative;
    top: 25px;
    right: 345px;
    color: white;
}

.splash-text-2 {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;   
    position: relative;
    top: 25px;
    right: 290px;
    color: white;
}

.splash-text-3 {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;   
    position: relative;
    top: 25px;
    right: 267px;
    color: white;
}

.already-walker{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 100px;
    right: 334px;
    color: white;
    font-style: italic;
}

.login-button-splash {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    height: 33px;
    width: 98px;
    border-radius: 5px;
    border-color: white;
    outline: none;
    position: relative;
    top: 76px;
    right: 197px;
}

.login-button-splash:hover {
    background-color: rgba(144, 238, 144, 0.3);
}

.walk-nonsense {
    position: relative;
    top: 240px;
    left: 100px;
}

.nonsense-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 1000;
    margin-bottom: 9px;
}

.nonsense-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
}

.nonsense-last {
    margin-bottom: 30px;
}

.splash-examples {
    position: relative;
    bottom: 260px;
    left: 450px;
}

.splash-example-2 {
    position: relative;
    bottom: 80px;
    right: 120px;
}

.splash-example-3 {
    position: relative;
    bottom: 120px;
    right: 400px;
}

.splash-wonky {
    position: relative;
    bottom: 100px;
}

.splash-bottom-align {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 300px;
}

